doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/game_board.css')
  link(rel='stylesheet' href='/stylesheets/game_board-game_over.css')
  script(src='/socket.io/socket.io.min.js')
  script(type='module', src='/javascripts/game_board/main.js')
  //- script(defer, type='module', src="/javascripts/util.js")
  //- script(defer, type='module', src="/javascripts/lobby.js")
  title UNO Game Board 

body
  .grid

    // first row

    #left-player-container
      .name#left_player_name
      #left-player-avatar-container
    .buffer

    #top-player.horizontal-hand
      ul.user-cards#top_player_deck

    .top-player-container
      .name#top_player_name
      .avatar#top-player-avatar
    .menu-btn
      img(src='/images/menu_icon.png' alt='')

    // second row

    .left-player.vertical-hand
      ul.user-cards#left_player_deck

    .buffer

    .deck
      // Helper to help align image vertically centered
      span.helper
      img#draw_deck(src='/images/uno_deck/uno_deck.png' alt='card back')

    .played-stack#played-stack
      span.helper
      img#turn-direction(src="../images/turn_direction.png")
      img.played-card#played-card-id
      #color-chooser
        button#choose-red(data-color='red')
        button#choose-blue(data-color='blue')
        button#choose-yellow(data-color='yellow')
        button#choose-green(data-color='green')
      //- img.played-card(src=`/images/uno_deck/${cur_card.color}_${cur_card.name}.png` alt='')

    .btn-container
      .uno-btn#uno-btn UNO
    .right-player.vertical-hand
      ul.user-cards#right_player_deck

    // third row
    .buffer
    #bottom-player-container
      .name#main_player_name
      #bottom-player-avatar-container

    .bottom-player.horizontal-hand
      ul.user-cards#main_player_deck

    .callout-container
      .helper
      .callout-btn#callout-btn Callout Player
    //- .buffer
    #right-player-container
      .name#right_player_name
      .avatar#right-player-avatar

  
  #game-over
    #game-over-background
    #game-over-content
      #game-over-banner
        img(src="../images/game-over-banner.png")
      ul#game-over-players
        li.game-over-player#game-over-title
          p.game-over-player-ranks Ranks
          //- .game-over-player-avatar
          .game-over-player-name-score
            p.game-over-player-name Player
            p.game-over-player-score#game-over-player-title-score Points
      
        //- Player results
        - for (let i = 1; i < 5; ++i) {
          - let rankingImgPath = `../images/lobby/ranking_number_${i}.png`
          - let playerScore = `player-score-${i}`
          - let playerName = `player-name-${i}`
          - let infoClassName = ""
          console.log(rankingImgPath)
          li.game-over-player
            .game-over-player-ranks
              img(src=rankingImgPath)
            
            //- First player
            if i == 1
              - infoClassName = "game-over-player-info first-player"
            else
              - infoClassName = "game-over-player-info"

            div(class=infoClassName)
              //- .game-over-player-avatar
              //-   img.game-over-player-avatar-img(src="../images/avatars/default_avatar.png")
              .game-over-player-name-score
                p.game-over-player-name#player-name Player
                p.game-over-player-score#player-point 123
        - }
      #game-over-buttons
        //- a.game-over-btn(href="#" id="join-game-btn" class="game-over-btn") Play again
        a.game-over-btn(href="/lobby" id="return-lobby-btn" class="game-over-btn") Return to lobby
      



