extends layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/lobby.css")
    script(defer, src="/javascripts/lobby.js")
block content
    div(class="container")
        //- Left Section Chatting
        div(id="chatting-block" class="side-block lobby-section-block")
            img(src="/images/lobby/chatting_icon.png", alt="chatting-icon"  class="side-block-icon")
            div(id="message-block" class="side-block-box")
                ul(id="ul-message-display-block")
                    //- TODO 
                    //- Messages from db
                    each message, i in messages
                        li(class="li-message-display-item")
                            p(class="message-display-user") #[strong #{message.username}: ] #{message.text}
                //- TODO 
                //- ADD user authentication
                form(action="/lobby", method="post" id="message-send-block")
                    fieldset
                        div(id="message-send-block-form")
                            input(type="textarea" name="new-message" placeholder="Your message here..." rows="4" id="input-message-send-textarea")
                            input(type="submit" value="send" id="input-message-send-submit")

        //- Center Section New Game
        div(id="center-block" class="lobby-section-block")
            div(id="center-icon")
                img(src="/images/lobby/uno_center.png", alt="")
            //- p(id="center-title") WITH FRIENDS
            //- TODO 
            //- ADD user authentication
            a(href="#" id="new-game-btn" class="center-game-btn") NEW GAME
            //- TODO 
            //- ADD user authentication
            a(href="#" id="join-game-btn" class="center-game-btn") JOIN GAME

            
        //- Right Section Ranking
        div(id="ranking-block" class="side-block lobby-section-block")
            img(src="/images/lobby/ranking_icon.png", alt="ranking-icon" class="side-block-icon")
            div(id="ranking-main-block" class="side-block-box")
                ul(id="ul-ranking-users")
                    each user, i in users
                        li(class="li-ranking-user")
                            div(class="ranking-user-rank")
                                - let rankingImgPath = `/images/lobby/ranking_number_${i+1}.png`
                                img(src=rankingImgPath, alt="")
                            div(class="ranking-user-name-avatar")
                                img(src=user.avatar, alt="" class="ranking-user-avatar")
                                p(class="ranking-user-name")= user.username
                            div(class="ranking-user-record")
                                //- div(class="ranking-user-wins-losses-block")
                                //-     p(class="ranking-user-losses")= user.wins
                                //-     p(class="ranking-user-losses")= user.losses
                                //- div(class="ranking-user-score-block")
                                p(class="ranking-user-score")= user.scores
                                img(src="/images/lobby/ranking_star.png", alt="")
