extends layout

block content
    div(class="mdl-grid")
        div(class="mdl-cell mdl-cell--4-col")
        div(class="mdl-cell mdl-cell--4-col")
            form(
                action="/login"
                target="_self"
                method="post"
                id="login_form"
                autocomplete="on"
            )
                ul(class="mdl-list")
                    li(class="mdl-list__item")
                        span(class="mdl-list__item-primary-content") Login to play!

                    // AUTHENTICATION ERROR 
                    if status == 'error'
                        li(class="mdl-list__item")
                            case msg   
                                when 'authentication_error'
                                    span(style="color:#ff0000;"). 
                                        The username or password you entered is not correct, please try again. 
                                when 'datebase_error'
                                    span(style="color:#ff0000;"). 
                                        There was an internal server error, please try again later. 

                    // USERNAME INPUT FIELD 
                    li(class="mdl-list__item")
                        div(class="mdl-textfield mdl-js-textfield")
                            input(
                                class="mdl-textfield__input"
                                type="text" 
                                name="username"
                                id="username"
                                value=(username ? username : false)
                            )
                            label(
                                class="mdl-textfield__label" 
                                for="username"
                            ) Username 
                    if status == 'username_error'
                        li(class="mdl-list__item")
                            case msg   
                                when 'empty_username'
                                    span(style="color:#ff0000;") Please enter a username. 

                    // PASSWORD INPUT FIELD 
                    li(class="mdl-list__item")
                        div(class="mdl-textfield mdl-js-textfield")
                            input(
                                class="mdl-textfield__input"
                                type="password" 
                                name="password"
                                id="password"
                                value=(password ? password : false)
                            )
                            label(
                                class="mdl-textfield__label" 
                                for="password"
                            ) Password 
                    if status == 'password_error'
                        li(class="mdl-list__item")
                            case msg
                                when 'empty_password'
                                    span(style="color:#ff0000;") Please enter a password.

                    // SIGNUP FORM SUBMISSION BUTTON 
                    li(class="mdl-list__item")
                        button(
                            type="submit"
                            value="Submit"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ) Login 
            
            
            ul(class="mdl-list")
                li(class="mdl-list__item")
                    div
                        p Forget your password?
                        a(href='#') Click Here
                li(class="mdl-list__item")
                    a(href='/signup') Sign up

        div(class="mdl-cell mdl-cell--4-col")

    